@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Roboto:400,100,300,500,700,900,100italic,300italic,400italic,700italic,900italic,500italic);

/* ALL Sections */
section { padding: 0 30px; width: 100%; }
section::after { content:''; display: block; clear: both; }

/* Section: LISTING */
/* Sub-Div Search */
section.listing #search { position: absolute; top: -60px; z-index: 2; color: #ddd; width: 100%; }
section.listing #search a { color: #777; }
section.listing #search h3 { display: inline-block; margin: 0; }
section.listing #search input[type=text] { width: 250px; margin-left: 15px; }

section.listing { position: absolute; top: 200px; z-index: 2; color: #ddd; }
section.listing h1 { margin-bottom: 5px; }
section.listing h1 + p { margin-top: 5px; }
section.listing h1 span { text-transform: capitalize; }
section.listing ul { list-style: none; margin: 0; padding: 0;}
section.listing ul li { border-bottom: solid 1px #eee; color: #3254a5; background-color: rgba(255, 255, 255, 0.5);
  padding: 0 10px 0 10px; height: 81px; position: relative; }
section.listing ul li p { display: inline-block; color: white; }
section.listing ul li p.r-img { padding: 5px; margin: 0; }
section.listing ul li p.r-name { position: absolute; top: -12px; left: 10%; font-size: 1.2em; font-weight: 700; color: #3254a5; }
section.listing ul li p.r-desc { position: absolute; top: 16px; left: 10%; width: 48%; color: #3254a5; font-size: 0.9em; }
section.listing ul li p.going { position: absolute; top: 6px; left: 59%; padding: 10px;
  border: solid 1px #999; border-radius: 4px; background-color: rgba(50, 84, 165, 0.75); color: rgba(245, 245, 245, 0.7); }
section.listing ul li button { position: absolute; top: 22px; left: 89%; display: inline-block; width: 100px; height: 40px; }

video#bgvid { position: fixed; top: 50%; left: 50%;
    min-width: 100%; min-height: 100%; width: auto; height: auto;
    z-index: -100; transform: translateX(-50%) translateY(-50%);
    /*background: url(../assets/Night-BBQ.jpg) no-repeat; background-size: cover; */
  }

/* Global Styling */
html, body { height: 100%; color: #333; padding: 0; font-family: Lato, sans-serif; font-size: 16px; }
#page { position: relative; margin: 0 auto; max-width: 1180px; height: 92%; overflow: scroll; }

a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }
a.btn:hover { text-decoration: none; }
h1 { font-size: 2.5em; font-weight: 700; margin: 0 0 0.5em 0; }
*, *::before, *::after { box-sizing: border-box; }
.ng-view { height: 100%; }

/* FORM STYLING */
input { background-color: white; padding: 7px; border: 1px solid #ccc; border-radius: 3px; font-size: 1em; margin: 0px; }
input:focus { outline: lightblue solid thin; }
::-webkit-input-placeholder, :-ms-input-placeholder, ::-moz-placeholder, :-moz-placeholder { font-weight: 100; }

button, .btn { color: #fff; background-color: #00882B; font-weight: 700; font-size: 1em; padding: 6px 10px 6px 10px; text-shadow: none; border: none;  border-radius: 3px; cursor: pointer; }
button:focus { outline: lightblue solid thin; }
.btn-right { float: right; background-color: #51A7F9; color: white; font-size: 0.9em; margin-top: -55px; padding: 6px;
    transition: background-color 0.5s; cursor: pointer;}

input[type=text] { width: 180px; font-weight: 600; color: #333; }

input[type=submit] { background-color: #6d0911; color: white; cursor: pointer; padding-left: 10px; padding-right: 10px; font-weight: 700; font-size: 1em;
    transition: background-color 0.5s; }
input[type=submit]:hover { background-color: rgb(253, 127, 132); }

/* Header */
/*header { position: relative; max-width: 1280px; height: 380px; background: #fff url('../img/clockwork-1280.jpg') no-repeat center center; }*/
header .logo { z-index: 1; position: absolute; font-size: 2.8em; font-weight: 700; text-decoration: none; color: white;
    top: 37px; left: 15px; }

/* Navbar */
nav { position: absolute; top: 30px; left: 0; width: 100%; padding: 0 0 0 0; background-color: rgba(0,0,0,.55); color: white; }
nav a:hover { text-decoration: none; }
nav::after { content: ''; display: block; clear: both; }

nav ul { list-style: none; margin: 0; padding: 0; }
nav > ul { padding-left: 350px; }
nav > ul > li { float: right; }

nav ul li a { display: inline-block; text-decoration: none; padding: 25px 20px; cursor: pointer; color: white; }

nav ul li a:visited { color: white; }
nav ul li a:hover { background-color: #6d0911; }

/* Login Section */
section.login { position: absolute; top: 160px; margin: 0 auto; width: 650px; padding-top: 15px; color: #fff; }
section.login p { margin-top: 0.5em; font-size: 1em; display: inline-block;}
section.login a { color: #fff; padding-left: 10px; }
section.login div.error { color: #FF4136; background-color: rgba(0, 0, 0, 0.4); margin-top: 5px; padding: 7px; width: 440px; }

/* Signup Section */
section.signup { position: absolute; top: 120px; margin: 0 auto; width: 100%; padding-top: 15px; color: #ccc; }
section.signup h1 { text-align: center; }
section.signup form { margin: 0 auto; width: 300px; padding-top: 15px; }
section.signup input[type=text] { margin-bottom: 5px; widht: 100%; }
section.signup input[type=submit] { background-color: #51A7F9; margin-top: 15px; width: 215px; display: block; }

/* Profile Section */
section.profile a.btn { display: inline-block; margin-top: 15px;}
section.profile div { margin-bottom: 5px;}

/* Footer */
footer { position: fixed; bottom: 0; left: 0; right: 0; max-width: 1280px; background-color: #fff; height: 50px; margin: 0 auto;
    border-top: 1px solid darkgrey; text-align: center; font-size: 0.9em; }
