<section class="main">
	{{#unless user}}
	<p>Authenticate to see who's going where and add your voice.</p>
	{{/unless}}
	<form id="form_id" action="index.html" method="post">
		<p>Where are you at?</p>
		<input type="text" name="location" id="location" value="">
	</form>
</section>
