<h1>This is HBS INDEX</h1>
<p>
	Authenticate to see who's going where and add your voice.
</p>
<h2><a class="btn btn-success" href="/users/twitter">Sign in with Twitter</a></h2>
<h2><a class="btn btn-warning" href="/users/login">Log in</a></h2>
